@media screen and (max-width: 490px) {
  * {
    --size-scare: 4rem;
  }

  header {
    position: relative;
  }

  nav {
    display: none;
  }

  .container {
    width: 90%;
  }

  #service h2 {
    font-size: large;
  }

  .containers,
  footer {
    flex-direction: column;
  }

  .second-container {
    width: 100%;
  }

  #equipe {
    display: inline-block;
  }

  .team {
    height: 350px;
  }

  .right-message,
  .team {
    width: 100vw;
  }

  .titre2 {
    font-size: 25px;
  }

  #temoignage h2 {
    text-align: center;
    font-size: x-large;
    margin: 0 1rem 0 1rem;
    padding: 2rem 0 0.6rem 0;
  }

  .containers,
  .commentaire {
    width: 80%;
  }

  footer {
    height: unset;
    font-size: 10px;
    justify-content: flex-start;
    align-items: flex-start;
  }
  .liste-services {
    margin: 1rem;
    grid-template-columns: auto;
  }

  footer div:nth-child(2) {
    margin: 0 0 1rem 1rem;
  }

  footer div p {
    text-align: left;
  }
}
