@media screen and (max-width: 490px) {
  * {
    --size-scare: 4rem;
  }

  header {
    position: absolute;
    top: 0;
    height: unset;
  }

  header h2 {
    width: 100%;
    text-align: center;
    border-bottom: 1px solid rgba(255, 255, 255, 0.7);
    padding: 1rem;
  }

  header,
  nav ul {
    flex-direction: column;
  }

  header nav ul li a {
    padding: 1.2rem;
    width: 100%;
    text-align: center;
  }

  #main {
    padding-top: 20rem;
  }

  .container {
    width: 90%;
  }

 #service{
    height: unset;
 }
 
  #service h2 {
    font-size: large;
  }

  .containers,
  footer {
    flex-direction: column;
  }

  .second-container {
    width: 100%;
  }

  #equipe {
    height: unset;
    flex-direction: column-reverse;
  }

  .team {
    height: 250px;
  }

  .right-message,
  .team {
    width: 100vw;
  }

  .titre2 {
    font-size: 25px;
  }

 #temoignage{
  padding-top: unset;
 }

  #temoignage h2 {
    text-align: center;
    font-size: x-large;
    margin: 0 1rem 0 1rem;
    padding: 2rem 0 0.6rem 0;
  }

  .containers,
  .commentaire {
    width: 80%;
  }

  .commentaire {
    flex-direction: column;
  }

  .commentaire:nth-child(2n + 1) {
    flex-direction: column-reverse;
  }

  footer {
    height: unset;
    font-size: 10px;
    justify-content: flex-start;
    align-items: flex-start;
  }

  .liste-services {
    margin: 1rem;
    grid-template-rows: repeat(14, 1fr);
    width: 96%;
  }

  footer div p {
    font-size: 22px;
    padding: 1rem;
    border-bottom: 1px solid white;
  }

  .abonnement {
    font-size: 20px;
  }

  input {
    width: 210px;
  }

  .boutton2 {
    font-size: 18px;
    height: 2rem;
    width: 100px;
  }

  footer div p:nth-child(13),
  p:nth-child(16) {
    display: none;
  }
}
